@media (min-width: 980px) {

    html {
        background-color: #FAFAFA;
    }

    .container-sm {
        width: 750px;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }


    .nav.navbar-nav.navbar-right {
        padding-top: 4px;
    }

    .white_bg {
        background-color: #ffffff;
    }

    .box_shadow {
        box-shadow: 0 8px 6px -7px #999999;
    }
}
