@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";


html {
    height: 100%;
}

body {
    height: 100% !important;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #788288;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.53846;
    padding: 0 ;
    margin: 0 !important;
    /*padding-top: 50px;*/
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    position: relative;
    z-index: 9999;
}



.btn-default {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-default:hover, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
    background-color: #222222;
    color: #FFFFFF;
}


.navbar-default {
    background: url("../images/f990.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.navbar-brand {
    padding: 4px 15px 15px !important;
}

.nav > li > a {
    padding: 6px 11px !important;
}

.page-header {
    margin: 0;
}

h1, h2, h3, h4 {
    color: #000000;
    font-weight: 600;
}

.sections section {
    background: url("../images/f990.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #DDDDDD;
    min-height: 80px;
    padding: 10px 0px;
}

.sections section:first-child {
    padding-top: 0px;
}

.sections section:nth-child(2n) {
    background: url("../images/f990.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #DDDDDD;
}

.tab-content {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}

.tab-content .table {
    margin-bottom: 0px;
}

.club_logo {
    margin-top: 10px;
    margin-bottom: 10px;
}