@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";

body {
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #788288;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.53846;
    margin: 0 !important;
    padding-top: 50px;
}


.btn-default {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-default:hover, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
    background-color: #222222;
    color: #FFFFFF;
}


.navbar-default {
    background-color: #FFFFFF !important;
}

.navbar-brand {
    padding: 4px 15px 15px !important;
}

.nav > li > a {
    padding: 10px 11px !important;
}

h1, h2, h3, h4 {
    color: #000000;
    font-weight: 600;
}

.sections section {
    background-color: #FAFAFA;
    border-top: 1px solid #DDDDDD;
    min-height: 80px;
    padding: 10px 0px;
}

.sections section:first-child {
    padding-top: 0px;
}

.sections section:nth-child(2n) {
    background-color: #FFFFFF !important;
    border-top: 1px solid #DDDDDD;
}

.tab-content {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}